**/submissions/
**/submission/
**/playground/
**/datasets/
**/tempCodeRunnerFile.py
**/playground.py
**/__pycache__/
*.zip
*.gz
*.pickle



offline-3-fnn/data
offline-3-fnn/results
offline-3-fnn/playground.py
